.Register{
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('https://t3.ftcdn.net/jpg/03/55/60/70/240_F_355607062_zYMS8jaz4SfoykpWz5oViRVKL32IabTP.jpg');
    background-size: cover;
}

.Register_Title{
    font-size: 50px;
}

.Register_Form{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.Register_Form>label{
    margin: 10px 0px;
}

.Register_Form > input{
    padding: 10px;
    background-color: white;
    border: none;    
}

.Register_Form > input:focus{
    outline: none;
}

.Register_Login_Button{
    margin-top: 20px;
    cursor: pointer;
    background-color: teal;
    border:none;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

.Register_Register_Button{
    position: absolute;
    top: 70px;
    right: 20px;
    background-color: lightcoral;
    cursor: pointer;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 10px;
}