.Post{
    width: 385px;
    margin: 0px 25px 40px 25px;
}

.Post_Image{
    width: 90%;
    height: 280px;
    object-fit: fill;
    border-radius: 5px;
}

.Post_Info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Post_Categories{
    font-family: 'Varela Round', 'sans-serif';
    font-size: 15px;
    color: #be9656;
    line-height: 20px;
    margin-top: 15px;
    cursor: pointer;
}

.Post_Category{
    margin-right: 20px;
}

.Post_Title{
    font-family: 'Joseph Sans', 'sans-serif';
    font-size: 24px;
    font-weight: 700;
    margin-top: 15px;
    cursor: pointer;
} 

.Post_Date{
    font-family: 'Lora', 'serif';
    font-style: italic;
    font-size: 13px;
    color: #999; 
}

.Post_Description{
    font-family: 'Varela Round', 'sans-serif';
    font-size: 14px;
    color: #444;
    line-height: 24px;
    margin-top: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; 
    -webkit-box-orient: vertical;
    cursor: pointer;
}

