.SideBar{
    flex: 3;
    margin: 20px;
    padding-bottom: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column ;
    align-items: center;
}
.SideBar_Item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.SideBar_Title{
    margin: 10px;
    padding: 5px;
    /* width: 80%; */
    border-top: 1px solid #a7a4a4;
    border-bottom: 1px solid #a7a4a4;
    font-family: 'Varela Round', sans-serif;
    font-size: 12px;
    color: #222;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
}

.SideBar_Item > img{
    margin-top: 15px;
    width: 100%;

}

.SideBar_Item > p{
    padding: 30px;
}

.SideBar_List{
    list-style: none;
    margin: 10px;
}

.SideBar_ListItem{
    display: inline-block;
    width: 50%;
    margin-top: 10px;
    cursor: pointer;
}

.SideBar_Social{
    margin-top: 15px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.SideBar_Icon{
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
}