.Header{
    margin-top: 1%;
}

.Header__Titles{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Lora', 'serif';
    color: #444;
}

.Header__Titles_Sm{
    position: absolute;
    top: 13%;
    font-size: 20px;
}

.Header__Titles_Lg{
    position: absolute;
    top: 16%;
    font-size: 40px;
    color: white;
}

.Header_Image{
    width: 100%;
    height: 450px;
    margin-top: 80px;
    object-fit: cover;
}